@model IEnumerable<SpatulaApi.Data.Lesson>

@{
    ViewData["Title"] = "CourseLesson";
}

<h1>دروس الكورس</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warnings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArabicName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
         
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Warnings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArabicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">تعديل</a>
            </td><td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">عرض التفاصيل</a>
            </td><td>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">مسح</a>
            </td>
        </tr>
}
    </tbody>
</table>
