@model IEnumerable<SpatulaApi.Data.Advert>

@{
    ViewData["Title"] = "Index";
}
<style>
    h1{text-align: center;}
p{
  text-align: center;
  width: 100%;
  margin: 20px auto!important;
}
p>a{
  width: 70%;
}
table{
  direction: rtl;
}
</style>
<h1>قائمة الاعلانات</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">إضافة جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">تعديل</a>
                </td><td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">عرض التفاصيل</a> 
                </td><td>
                    @if (item.Status == true)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">مسح</a>
                    }
                    else
                    {
                        <a asp-action="UnDelete" asp-route-id="@item.Id" class="btn btn-warning">استرجاع</a>

                    }
            </td>
        </tr>
}
    </tbody>
</table>
